/**/__history/
/**/__recovery/
dotnet/
webp/
/**/*.res
/**/*.wav
/**/*.local
/**/*.identcache
/**/*.dsk
/**/*.obj
/**/*.exp
/**/*.dll
/**/*.~dsk
/**/*.rsm
/**/*.exe
/**/*.dcu
info.txt
/**/*.afphoto
/**/*.afdesign
/**/*.pyd
/**/__pycache__
/**/*.zip
/**/*.cat
python*.zip
Delphi*.png
/**/~$*
